/* Write your code here. */
.thumbnail-images {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
}
@media screen and (min-height: 576px) {
  .thumbnail-images {
    display: flex;
    flex-wrap: wrap;
  }
}

.outer-container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selected-image {
  max-width: 350px;
  max-height: 350px;
}

.image-container {
  margin: 30px;
  padding: 20px;
}
